.lower_width{
    width: 80%;
}
.total_patients_holder{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    margin-top: 3rem;
    gap:2rem ;
}
.filter_holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.select_filter{
    width: 20rem;
}

th{
    width: 8rem  !important;
    height: auto;
}
td {
    width: 8rem !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 280px; /* Set your desired max width */
}
.cell_choose:hover{
    cursor: cell;
    background-color: #eee;
}
.table_holder{
    overflow: scroll;
}
.table_holder table{
table-layout: fixed;
width: 100%    
}

.excel_input_holder{
    display: flex;
    flex-direction: column;
}

.space-UD{
    margin-bottom: 2rem;
    margin-top: 1rem;
}