.card_holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    background: #f1f1f1;
}

.less_height {
    min-height: unset;
}