.card_holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    background: linear-gradient(135deg, #f8f5ff, #e5d4f9);
}