.total_holder_sup_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.table-cell.SP {
    text-align: center;
}

.table-header {
    text-align: center;
}

.statusInTable {
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
}

.btn_formPage_holder.SP {
    justify-content: center;
}

.role_modal .forms-table {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    margin-top: 0;
}

.role_modal .forms-table th,
.role_modal .forms-table td {
    padding: 0.5rem;
    font-size: 0.9rem;
}

.role_modal .roles {
    max-height: 400px;
    overflow-y: auto;
    padding: 1rem 0;
}